@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

:root {
  --farbe1: #0D1B2A;
  --farbe2: #1B263B;
  --farbe3: #415A77;
  --farbe4: #778DA9;
  --farbe5: #EDF2F4;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  margin: auto;
  background-color: var(--farbe3);
  max-width: 1600px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas:
    "header header"
    "navigation content"
    "footer footer";
}

header, nav, main, footer {
  padding: 10px;
}

header p {
  font-size: 22px;
}

#invisible {
  color: var(--farbe2);
}

nav {
  grid-area: navigation;
  background-color: var(--farbe3);
  color: var(--farbe5);
  padding-left: 30px;
  border-left: 3px solid var(--farbe2);
}

nav h2 a {
  color: var(--farbe1);
  text-decoration: none;
}

nav ul li a {
  color: var(--farbe5);
  text-decoration: none;
  font-size: 20px;
}

nav h2 a:hover {
  color: var(--farbe5);
}

nav ul li a:hover {
  color: var(--farbe1);
}

nav ul li {
  padding: 5px;
}

main {
  grid-area: content;
  background-color: var(--farbe5);
  padding-left: 30px;
  border-right: 3px solid var(--farbe2);
}

#content {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas:
    "steckbrief charakter"
    "steckbrief schauspieler";
}

main section {
  border: 1px solid var(--farbe1);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

#Steckbrief {
  grid-area: steckbrief;
}

#Schauspieler {
  grid-area: schauspieler;
}

#Charakter {
  grid-area: charakter;
}

main section li {
  margin-bottom: 10px;
  text-align: center;
  list-style-type: none;
}

footer {
  grid-area: footer;
  background-color: var(--farbe2);
  color: var(--farbe5);
  text-align: center;
}

h1 {
  font-size: 40px;
  letter-spacing: 18px;
}

footer div {
  display: flex;
  justify-content: space-evenly;
}

footer h3 {
  letter-spacing: 5px;
}

.section {
  border-radius: 7px;
  width: 250px;
  padding: 10px;
}

#rechte {
  font-size: 20px;
}

footer a {
  color: var(--farbe5);
  text-decoration: underline;
}

section p {
  line-height: 150%;
  margin-bottom: 10px;
  text-align: center;
}

#Steckbrief img {
  max-width: 450px;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 3%;
}

section h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 28px;
}

footer div {
  line-height: 0%;
}

nav li {
  font-size: 16px;
  margin-bottom: 20px;

}

#podcast section {
  margin-top: 20px;
  margin: auto;
  border: 1px solid var(--farbe1);
  font-size: 18px;
  display: block;
  justify-content: center;
  width: 80%;
}

header {
  grid-area: header;
  background-color: var(--farbe2);
  color: var(--farbe5);
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

#impressum section {
  margin-bottom: 20px;
}

#impressum section p {
  text-align: left;
}

#impressum li {
  text-align: left;
  list-style-type: disc;
}

#impressum h3 {
  text-decoration: underline;
  font-weight: bold;
}

.video-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.video-container::before {
  content: "";
  display: block;
  padding-top: 56.25%;
  /* 16:9 Seitenverhältnis */
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

#homepage {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;

}


#homepage img {
  width: 100%;
  border-radius: 10px;
}

#homepage a {
  color: var(--farbe1);
  text-align: center;
}

#homepage section {
  position: relative;
  display: inline-block;
  border: 1px solid var(--farbe1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

#homepage section:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px;
}

#homepage section img {
  display: block;
  width: 100%;
  height: auto;
}

form {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--farbe1);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--farbe3);
  border-radius: 4px;
}

input[type="submit"], input[type="reset"], input[type="radio"], label {
  cursor: pointer;
}

input[type="submit"], input[type="reset"] {
  background-color: green;
  color: var(--farbe5);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-family: 'Comfortaa', cursive;
}

input[type="reset"] {
  background-color: red;
}

#radio {
  margin-bottom: 10px;
}

#radio label {
  display: inline-block;
  margin-right: 10px;
}

input {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

textarea {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  line-height: 150%;
}


#impressum a {
  color: var(--farbe1);
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  #Schauspieler p, #Charakter p {
    font-size: 15px;
    margin: 0px;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 25px;
  }

  #homepage h3 {
    font-size: 14px;
  }

  header p {
    font-size: 16px;
  }

  nav ul li a {
    font-size: 14px;
  }

  nav h2 {
    font-size: 20px;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "navigation"
      "content"
      "footer";
  }

  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }

}

@media screen and (max-width: 880px) {
  #homepage {
    grid-template-columns: 1fr 1fr;
  }

  #homepage h3 {
    font-size: 18px;
  }

  #content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "steckbrief"
      "charakter"
      "schauspieler";
  }

  #Schauspieler p, #Charakter p {
    font-size: 15px;
    margin: 16px 0px;
  }

  nav ul li {
    font-size: 12px;
    margin: 0px;
    padding: 2px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav h2 {
    text-align: center;
  }

  footer div {
    flex-direction: column;
  }

  footer div section {
    margin: auto;
  }

  header p {
    font-size: 1px;
    color: var(--farbe2);
  }

  header {
    padding: 30px 0;
  }
  .video-container {
    width: 100%;}

}

@media screen and (max-width: 550px) {
  #homepage {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 20px;
    letter-spacing: 5px;
  }

  #rechte {
    font-size: 15px;

  }

  form {
    width: 300px;
  }

  form label {
    font-size: 14px;
  }

}